*/**/__pycache__
*/*.pyc

*.pth
*.png

transformer_regression_modified.py
gnn_moe_transformer_torch.py

*.safetensors

*.csv

*.log

debug_no_revin_residual/
debug_train_adapter/
results_monthly_backtest/
swanlog/
vis_conditional_adapts/